.body-container {
    display: flex;
    justify-content: space-between;
}

.nav-bar-link-container {
    position: fixed;
    top: 18.760px;
    right: 8px;    
    display: flex;
    align-items: center;
    border: solid;
    border-radius: 45px;
    padding: 0 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0, 0.5);
}

.nav-bar-link-container ul {
    display: flex;
    padding: 0;
}

.nav-bar-link-container ul li {
    list-style: none;
    padding-left: 15px;
    transition: 1s;
}

.nav-bar-link-container ul li:hover {
    font-size: large;
    transform: translateY(-2px); // might take this out later -sk
}

.nav-bar-link-container ul li a {
    color: burlywood;
}

.nav-bar-link-container ul li a:link {
    text-decoration: none;
}

.nav-bar-link-container ul li a span {
    padding-left: 2px;
}

.nav-bar-link-container ul li:nth-child(1) {
    padding-left: 0;
}

// Point where the current navbar intercepts with the title logo
@media only screen and (max-width: 690px) {
    .logo-container { 
        margin-top: 52px;
    }

    .body-container {
        justify-content: center;
    }
}