.body-container {
    display: flex;
    justify-content: space-between;
}

.nav-bar-link-container {
    display: flex;
    align-items: center;
}

.nav-bar-link-container ul {
    display: flex;
    padding: 0;
}

.nav-bar-link-container ul li {
    list-style: none;
    padding-left: 15px;
}

.nav-bar-link-container ul li a:link {
    text-decoration: none;
}

.nav-bar-link-container ul li a span {
    padding-left: 2px;
}

.nav-bar-link-container ul li:nth-child(1) {
    padding-left: 0;
}