<div class="body-container">
    <div class="logo-container">
        <h1>THE CULTURE</h1>
    </div>

    <div class="nav-bar-link-container">
        <ul>
            <li>
                <a href="">
                    <i class="fa-thin fa-house-chimney-heart"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-thin fa-sunglasses"></i>
                    <span>Fashion</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-thin fa-music"></i>
                    <span>
                        Music
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-thin fa-newspaper"></i>
                    <span>
                        News
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-thin fa-heart-circle-plus"></i>
                    <span>
                        Health
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa-thin fa-money-bill-trend-up"></i>
                    <span>
                        Clout
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>