<p>We are The Culture. We are one.</p>

<img src="../../assets/img/drake_djkhaled.jpg" alt="Drake and DJ Khaled" class="home-image">
<img src="../../assets/img/her_justinbieber.jpg" alt="H.E.R. and Justin Bieber" class="home-image">
<img src="../../assets/img/migos_donda2.jpg" alt="Migos - Donda 2" class="home-image">
<img src="../../assets/img/the_fam1.jpg" alt="The Fam Pt. 1" class="home-image">
<img src="../../assets/img/keem_lamar.jpg" alt="Baby Keem and Kendrick Lamar" class="home-image-wide">
<img src="../../assets/img/now_money_right.png" alt="Been Broke - Tobe Nwigwe" class="home-image-wide">
<img src="../../assets/img/niggas_to_gods.png" alt="Been Broke - Tobe Nwigwe" class="home-image-wide">

<div class="message-of-the-time-container" topMargin [marginTopValue]="'50px'">
    <message-of-the-time></message-of-the-time>
</div>